/*
-- Estilos CSS - Website da Empresa
*/

/*
-- Padrões e Reset
*/

/*
-- Tipografia e Cores
*/

/*
-- Estrutura
*/

/*
-- Estilos específicos de Seção
*/

/*
-- Formulários
*/

/*
-- Tabelas
*/

/*
-- Classes de Uso Geral
*/


body {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 25px;
    background-color: #333;
}

#gauges {
    margin: 0 auto;
    width: fit-content;
    padding: 10px 0;
}

#chart-analyze {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 300px;

}

#gauges div {
    display: inline-block;
    text-align: center;
}