/*
-- Estilos CSS - Website da Empresa
*/

/*
-- Padrões e Reset
*/

/*
-- Tipografia e Cores
*/

/*
-- Estrutura
*/

/*
-- Estilos específicos de Seção
*/

/*
-- Formulários
*/

/*
-- Tabelas
*/

/*
-- Classes de Uso Geral
*/


body {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 25px;
    background-color: #333;
}

#gauges {
    margin: 4px auto;
    width: fit-content;
    padding: 10px;
}

#gauges div {
    display: inline-block;
    text-align: center;
}

#chart-analyze {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 200px;
}

#chart-advanced-configuration {
    position: relative;
    margin: 40px auto;
    width: 80%;
    height: 150px;
}

#advanced-configuration-dygraph {
    width: 50% !important;
    display: inline-block;
}

.vl {
    border-left: 2px solid white;
    height: 20px;
    display: inline-block;
}

#controles {
    display: inline-block;
    width: 50% !important;
    top: 20px;
    position: absolute;
}

#mostrar {
    display: inline-block;
    padding: 0 10px;
}

#configurar {
    display: inline-block;
    padding: 0 10px;
}

#toast {
    position: fixed;
    top: 40px;
    right: 10px;
    padding: 10px;
    display: none;
    opacity: 0;
    transition: opacity 2s;
    border-radius: 5px;
}

#toast.toast-fade-in {
    display: block;
    opacity: 1;
    background-color: rgba(255, 8, 0, 0.57);
    border: 1px solid red;
    transition-timing-function: cubic-bezier(0, 1, 1, 1);
}

#toast.toast-fade-out {
    display: block;
    opacity: 0;
    background-color: rgba(3, 255, 0, 0.44);
    border: 1px solid green;
    transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

#container #chart-advanced-configuration {
    display: block !important;
}

#container.analyse #chart-advanced-configuration {
    display: none !important;
}

#logo-multscan {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 50px;
    background: transparent url("assets/img/logo-multscan.png") center no-repeat;
    background-size: 100px auto;
    padding: 10px;
    opacity: 0.4;
    transition: opacity 200ms ease-out;
}

#logo-multscan:hover {
    opacity: 0.9;
}